footer {
  margin-top: 10px;
}

.footer-container {
  box-sizing: border-box;
  max-width: $content-width;
  margin: 0 auto;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content a {
  color: inherit;
  text-decoration: none;
  @extend %transition;
}

.footer-content a:hover,
.colored-key {
  color: $color-primary;
}

.git-and-date p {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info p {
  text-align: right;
}