.keyboard-container {
  width: calc(100% - 20px);
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: $color-add;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.keyboard__key {
  @include flex ($flex: inline-flex, $wrap: nowrap, $justify: center);  
  min-width: 55px;
  height: 55px;
  margin: 3px;
  border: none;
  border-radius: 4px;  
  font-size: 1.5rem;
  background-color: $color-bg-dark;
  color: $color-text;  
  box-shadow: 0 0 5px $color-primary;
  outline: none;
  cursor: pointer;
  @extend %transition;
  &:active {
    animation: press 0.3s 1 linear;
    box-shadow: 0 0 5px #009577aa;
  }
  &:hover {
    filter: contrast(110%);
  }
}

.keyboard__keys_row {
  width: 100%;
  @include flex ($flex: inline-flex, $wrap: nowrap, $justify: center); 
}

.material-icons {
  margin-right: 5px;
}

.option-key {
  font-size: 0.8rem;
  background-color: $color-bg;
}

.backslash {
  font-size: 1.5rem;
}

.backspace,
.enter,
.shift-right,
.space {
  width: 100%;  
}

.tab,
.capslock {
  width: 31%;
}

.shift-left,
.delete {
  width: 60%;
}

.ctrl-left {
  width: 18%;
}

.ctrl-right {
  width: 16%;
}

.capslock {
  position: relative;
  &.active::after {    
    background-color: $color-primary;
  }
}

.capslock::after {
  content: " ";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 5px;
  right: 5px;
  background-color: $color-bg-dark;
  border-radius: 50%;
}

