@mixin font($size, $height, $spacing: 0rem, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

@mixin flex ($flex: flex, $wrap: wrap, $justify: space-between, $align: center) {
  display: $flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}