@import "~normalize.css";
@import "roboto.css";

body {
  background-color: #222;
  color: #eee;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1{
  text-align: center;
}

.logo {
  background-image: url(../assets/icons/rsschool-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 700px;
  height: 200px;
  margin: 30px auto;
}