<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <div class="container">
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <textarea class="textarea" name="" id="" rows="5"></textarea>

    <div class="keyboard-container"></div>

    <div class="keyboard-placeholder"></div>
    
  </div>
  <footer>
    <div class="footer-container">
      <div class="footer-content">
        <div class="git-and-date">
          <p><span>©</span><span>2022</span></p>
          <p><span><a href="https://github.com/Gricyan" target="_blank">github</a></span></p>
        </div>
        <div class="info">
          <p>Keyboard created in the Windows operating system</p>
          <p>Use the <span class="colored-key">left ctrl</span> + <span class="colored-key">alt</span> combination to switch the languages</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>