@font-face {
  font-family: 'Xolonium';
  src: url(../assets/fonts/Xolonium/Xolonium-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Xolonium-Bold';
  src: url(../assets/fonts/Xolonium/Xolonium-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}